body {
	/*background-image: url("https://cdn.movieweb.com/img.news.tops/NEeLc7QMJNXsij_1_b/Good-Burger-2-Petition.jpg");*/
	background-color: #01cdfe;
	border-style: solid;
	border-width: 20px;
	border-color: #ff71ce;

	/*border-radius: 60px;*/
}

img {
	width: auto;
	height: auto;
	margin: 0 auto;
	display: block;


	 
	
}
 #welcome{
 	background-color: #05ffa1;
 	margin-top: 20px;
 	margin-bottom: 20px;
 	border-style: solid;
	border-width: 10px;
	border-color: #ff71ce;

	border-radius: 20px;
 }

 h1{
 	font-family: 'Kaushan Script', cursive;
 	font-size: 100px;
 	color: #b967ff;
 	text-shadow: 3px 1px #ff71ce;

 }
 h3{
 	font-family: 'Kaushan Script', cursive;
 	color: #fffb96;
 	text-decoration: underline;
 	text-shadow: 3px 1px #ff71ce;
 	
 }
 h4{
 	font-family: 'Kaushan Script', cursive;
 	font-size: 50px;
 	color: #fffb96;
 	text-shadow: 1px 1px #ff71ce;


 }
 h5{
 	font-family: 'Kaushan Script', cursive;
 	color: #b967ff;
 	text-shadow: 1px 1px #ff71ce;
 	font-size: 25px;
 	
 }
 #burgerForm{
 	border-style: solid;
	border-width: 5px;
	border-color: #ff71ce;

	border-radius: 20px;

 }

 #eatButton{
 	margin-top: 10px;
 	font-size: 10px;
 	background-color: #05ffa1;
 	border-style: solid;
	border-width: 5px;
	border-color: #ff71ce;

	border-radius: 20px;

 }

 #subButton{
 	font-family: 'PT Sans', sans-serif;
 	background-color: #05ffa1;
 	border-style: solid;
	border-width: 5px;
	border-color: #ff71ce;

	border-radius: 20px;
 }